<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  	<script src="../static/scripts/mvp.js"></script>
    <meta charset="UTF-8">
    <title>bsale</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <h2>Bsale Test</h2>
      </div>
    </header>
    <div class="container">
      <section class="filters">
        <div class="locations">
          <h3>Categories</h3>
          <h4>&nbsp;</h4>
          <div class="popover">
            <ul>
                {% for category in categories %}
                <li><input type="checkbox">{{ category.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="placesh1"><h1>Productos</h1></div>
      <section class="products">
      </section>
    </div>
  </body>